:root {
  --primary-color: #f7ffc9;
  --secondary-color: #ffcb31;
  --title-color: #307503;
  --hover-color: #b6d083;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 90px;
}
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.main-info h2 {
  opacity: 0.7;
}
.main-info {
  text-align: center;
  display: block;
  background: var(--primary-color);
  padding: 80px 20px;
}
@media (max-width: 900px) {
  .content {
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 960px) {
  .project-description {
    padding: 0 !important;
    text-align: center;
    margin-bottom: none;
  }

  .content {
    margin: 30px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
}
.text-center {
  text-align: center !important;
}
h3 {
  font-size: 27px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding:hover {
  background: var(--hover-color);
  color: black;
  transform: scale(1.2);
  transition: ease-in-out;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--title-color);
  border: 1px solid var(--title-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-branding-outline:hover {
  transform: scale(1.1);
  transition: ease-in-out;
  color: #80b622;
  border: 1px solid var(--title-color);
}

.project-description {
  padding: 110px 60px;
}
.content-container {
  padding: 80px 20px;
}
