:root {
  --primary-color: #f7ffc9;
  --secondary-color: #ffcb31;
  --title-color: #307503;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

h2 {
  opacity: 0.7;
}
.main-info {
  text-align: center;
  display: block;
  background: var(--primary-color);
  padding: 80px 20px;
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (max-width: 900px) {
  .content {
    text-align: center;
    padding: 0;
  }
}
.content {
  margin: 30px;
}

.text-center {
  text-align: center !important;
}
h3 {
  font-size: 48px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
